<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <title>MTU Phone Usage Monitor</title>
    <link rel="stylesheet" href="/stylesheets/styleHome.css"></link>
</head>

<body>
    <div class=" banner ">
        <div class="navbar ">
            <img src="\images\logo.png " class="logo ">
            <ul>
                <li><a href="/ ">Home</a></li>
                <li><a href="/phone/create ">New Entry</a></li>
                <li><a href="/table ">View Data</a></li>
                <li><a href="/help ">Help</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div class="content">
            <form id="form" action="/phone/updateComplete" method="post">

                <p>
                    <div class="secret"><input type="String" name="id" value="<%=phonelist.id%>" readonly></div>
                </p>
                <br>
                <label for="name">Enter your full name:</label>
                <input type="String " id="name" name="name" placeholder="Name" value="<%=phonelist.name%>">
                </p>
                <br>
                <p>
                    <label for="timeEducation">How much time used for education:</label>
                    <input type="Number" id="timeEducation" name="timeEducation" placeholder="Time in minutes" value="<%= phonelist.timeEducation%>" min="0" max="1140">
                </p>
                <br>
                <p>
                    <label for="timeShopping">How much time used for shopping:</label>
                    <input type="Number" id="timeShopping" name="timeShopping" placeholder="time in minutes" value="<%= phonelist.timeShopping%>" min="0" max="1140">
                </p>
                <br>
                <p>
                    <label for="timeBrowsing ">How much time used for browsing and searching:</label>
                    <input type="Number" id="timeBrowsing " name="timeBrowsing " placeholder="Time in minutes " value="<%=phonelist.timeBrowsing%>" min="0" max="1140">
                </p>
                <br>
                <p>
                    <label for="timeSocial">How much time used for social media:</label>
                    <input type="Number" id="timeSocial" name="timeSocial" placeholder="Time in minutes" value="<%= phonelist.timeSocial%>" min=" 0 " max="1140">
                </p>
                <br>
                <button id="button" type="submit" onclick="errormessage()"><span></span>submit</button>
                <!--<input TYPE="submit"></input>-->



            </form>
        </div>
    </div>
    <script>
        //Checking if the inputs combined are not over 1140, which is the number of minutes in a single day
        const form = document.getElementById('form');
        form.onsubmit = (e) => {
            if (findTotal() > 1140) {
                console.log('Not submitting!');
                //pop up error
                window.alert("There are only 1140 minutes in a day... Your total time spent on your phone is more than that today, which is impossible")

                return false; // Stop the submit event
            }

        }

        function findTotal() {
            const arr = Array.from(form.querySelectorAll('[type=Number]'));
            let total = 0;

            for (let i = 0; i < arr.length; i++) {
                const currentInputValue = parseInt(arr[i].value, 10);
                if (currentInputValue) {
                    total += currentInputValue;
                }
            }

            return total;
        }
    </script>
</body>

</html>