<%- include('partials/head') %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Booking Date</th>
        <th>Booking time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% for (let i=0; i < bookingInfo.length; i++) { %>
          <td>
            <%= bookingInfo[i].name%>
          </td>
          <td>
            <%=bookingInfo[i].date.toISOString().slice(0, 10)%>
          </td>
          <td>
            <%=bookingInfo[i].time%>
          </td>
          <td>
            <form action="/session/changingBegin" method="POST">
              <input type="hidden" name="_id" value="<%= bookingInfo[i]._id %>" maxlength="10" required>
              <button type="submit">Modify</button>
            </form>
          </td>
          <td>
            <form action="/session/delete" method="POST">
              <input type="hidden" name="_id" value="<%= bookingInfo[i]._id %>" required>
              <button type="submit">Cancel Session</button>
            </form>
          </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <%- include('partials/foot') %>