<%- include('partials/head') %> 
            <table>
              <thead>
              <tr>
                <th>Name</th>
                <th>Booking Date</th>
                <th>Booking time</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>  <%= bookingInfo.name%> </td>
                  <td> <%=bookingInfo.date%> </td>
                  <td> <%=bookingInfo.time%> </td>
                </tr>
             </tbody> 
            </table> 
<%- include('partials/foot') %> 